/* Element Styles ----------------- */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #4c4c4c;
    background-color: #f8fdf3;
}

h1 {
    font-family: 'Courgette', cursive;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .4);
    line-height: .65;
    margin-top: .5em;
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
}

p {
    font-size: 1.1em;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .25);
}

/* Form Elements ----------------- */

form {
    width: 60%;
    background: white;
    display: inline-block;
    overflow: hidden;
    /*display: flex;*/
    border-radius: .2em;
    border: solid 4px white;
    box-shadow: 0 1px 14px rgba(0, 0, 0, .12);
}

button {
    cursor: pointer;
}

button:hover {
    opacity: 0.6;
}

input,
button {
    border: none;
    outline: none;
}

header input {
    padding: 12px;
    font-size: 1.15em;
    width: 100%;
}

.btn-submit {
    color: white;
    padding: 0 1em;
    font-size: 1em;
    background-color: #7bcbc4;
    border-radius: .2em;
}

/* Layout ----------------- */

.wrapper {
    max-width: 900px;
    margin: 2.5em auto;
    border-radius: .35em;
    background: #fcfcfcfc;
    overflow: hidden;
    box-shadow: 0 0 26px rgba(0, 0, 0, .13);
}

header {
    color: white;
    text-align: center;
    background: linear-gradient(90deg, #4c4c4c, #55b3d0, #1e7eb7),
    url("/images/header-bg.jpg") no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 2em 0 1em;
}

/* Participant List Styles ----------------- */

div > input:last-child {
    font-size: 1em;
    margin-left: 6px;
}
div > label {
    color: #767676;
}

