* {
    box-sizing: border-box;
}

.navbar {
    background: #231f20;
    box-shadow: 2px 0 8px 5px rgba(0,0,0, .5);
}

.btn {
    border-radius: 5rem;
    padding: .7rem 1.5rem;
    background: #75ba01;
    border: none;
}

.btn:hover {
    background: #231f20;
}

.btn:focus {
    background: #75ba01;
    outline: none;
}

#home {
    padding-top: 15px;
}

.jumbotron-fluid {
    background-size: cover;
    background: url("../img/bg.png") no-repeat center;
    height: 500px;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: rgba(0,0,0,0.7);
}

.subheading {
    font-size: 1.4rem;
}

.card {
    border-radius: 0;
}

.card-body {
    padding: 0 20%;
}


.f-weight {
    font-weight: 300;
}

footer {
    background: #231f20;
}
