/* Base  ------------------------- */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Baloo Tammudu 2', sans-serif;
    line-height: 1.3;
    color: #3a3a3a;
}

p {
    line-height: .90em;
}

h1, 
h2, 
h3 {
    margin-top: 0;
    padding-top: 1rem;
    color: #346e38;
}

/* Navi ------------------------- */

.name,
.main-nav a {
    display: block;
    text-align: center;
}

.main-nav a {
    margin: 0;
    padding: 0;
}

.main-header {
    background: #346e38;
}

.main-header a {
    color: #fff;
}

/* Main --------------------------*/

.wrapper, aside {
    width: 80%;
    margin: 0 auto;
}


