<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0'">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="node_modules/normalize.css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Cream & Cream</title>
</head>
<body>
<div class="wrap">
    <header class="main-header">
        <div class="container">
            <h1 class="name"><a href="#">Cream & Cream</a></h1>
            <ul class="main-nav">
                <li><a href="#">ice cream</a></li>
                <li><a href="#">ice coffee</a></li>
                <li><a href="#">ice tea</a></li>
                <li><a href="#">ice fruit</a></li>
            </ul>
        </div>
    </header>

    <div class="container">
        <div class="primary col">
            <h2>Special Offer!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt excepturi numquam porro.
                Dolorum qui, reiciendis.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda cumque ducimus earum incidunt
                laboriosam, maiores nulla odit qui vel veritatis.</p>

            <h2>Choose your course here</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, tenetur voluptatem? Aspernatur autem
                cupiditate voluptatibus? Corporis dignissimos dolorem eaque eos impedit nobis porro quasi ratione
                sapiente vel? Accusantium, illum, vitae?</p>
        </div>

        <div class="secondary col">
            <h2>Why Cream & Cream?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, fugiat, iste! Autem error, expedita
                laborum praesentium quidem sint sit tempora? Architecto facilis fugit magnam minus nulla. Accusantium
                error inventore numquam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium ad assumenda blanditiis,
                consectetur consequatur doloremque dolores ea expedita fuga harum illum incidunt provident quaerat
                quidem repellat rerum suscipit temporibus ut vel veritatis voluptatem?</p>
        </div>
    </div>
</div>

<footer class="main-footer">
    <span>Cream & Cream Co. All rights reserved &copy; 2020</span>
</footer>


</body>
</html>