body {
    color: #fff;
    letter-spacing: 2px;
    font-family: "Comic Sans MS", sans-serif;
    background-color: #3659a2;
    box-sizing: border-box;
}

main {
   text-align: center;
    margin: 15% 20%;

}

h1, p {
    text-shadow: 2px 2px 3px #000 ;
}

h1 {
    font-size: 3.75em;
}

p {
    font-size: 1.1em;
    line-height: 1.5;
}