body {
    color: #fff;
    font-family: "Comic Sans MS", sans-serif;
    box-sizing: border-box;
    background-color: lightslategray;
}

main {
    width: 90%;
    max-width: 1080px;
    padding: 40px 0 0;
    margin: 0 auto;
}

