/* Base Styles --------------------- */

body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #878787;
    font: 1em/1.5 'Noto Sans JP', sans-serif;
    margin: 0;
}

h1 {
    font-size: 5.625rem;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.3;
}

h2 {
    font-size: 3.3125em; /* 53px/16px */
    font-weight: normal;
    line-height: 1.1;
    margin-bottom: .5em; /* 26px/53px  /
}

h3 {
    /*font-size: 1.25em; !* 20px/16px *!*/
    color: #48525c;
    line-height: 1.2;
}

/* Pseudo Classes --------------------- */

a:link {
    color: rgb(255, 169, 73);
    text-decoration: none;
}

a:visited {
    color: lightblue;
}

a:hover {
    color: rgba(255, 169, 73, .4);
}

a:active {
    color: lightcoral;
}


/* Main Styles  --------------------- */

.main-header {
    background: #ffa949;
}

.title {
    color: #fff;
    font-size: 1.625rem;
}

.intro {
    font-size: 1.25em;
    line-height: 1.6;
}

.primary-content,
.main-header,
.main-footer {
    text-align: center;
}

.main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 10px solid #ffa949;
}

.t-border {
    border-top: 2px solid lightgrey;
}

/* Layout Styles  --------------------- */

.primary-content,
.secondary-content {
    width: 60%;
    margin: auto;
}

.wildlife {
    color: #fff;
    background-color: #434a52;
    padding: 100px 120px;
    border-top: 10px solid #ffa949;
    margin: 55px 0 55px;
}

