<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Best City Guide</title>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="node_modules/normalize.css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

<header class="main-header">
    <ul class="main-nav">
        <li class="ice-cream"><a href="#">ice-cream</a></li>
        <li><a href="#">donuts</a></li>
        <li class="tea"><a href="#">tea</a></li>
        <li><a href="#">coffee</a></li>
    </ul>
</header>

</body>
</html>
