* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav-bar-image {
    width: 38px;
}

#app {
    display: flex;

    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
}

.product, .product-info {
    padding: 15px;
    border: 2px solid darkslategray;
}


.product-image img {
    width: 200px;
}

