* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    padding: 0;
    margin: 0;
}

body {
    color: #fff;
    font-size: 1em;
    font-family: 'Sanchez', cursive;
    letter-spacing: .1em;
    background-image: linear-gradient(15deg, #97dff4 0%, #38a9cb);
}

.container {
    width: 80%;
    max-width: 1080px;
    padding: 40px 0;
    margin: 0 auto;
}

.card {
    box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
}