/* ------------- Base Element Styles */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Balsamiq Sans', cursive;
    line-height: 1.6;
    color: #3a3a3a;
}

p {
    font-size: .95em;
    margin-bottom: 1.5em;
}

h2 {
    margin-top: 0;
}

a {
    color: #998056;
    text-decoration: none;
}

/* -------------- Base Layout Styles */

/* Navigation -----------------------*/

.name {
    padding: 10px 15px;
    color: #3a3a3a;
    font-size: 1.5em;
}

.name,
.main-nav li {
    text-align: center;
    background: #fff;
    margin: 6px 0;
}

.name a:hover {
    color: #afccbc;
}

.main-nav a {
    font-size: .95em;
    padding: 10px 15px;
}

.main-nav a:hover {
    color: #b5ffea;
}

/* layout Containers ----------------*/

.container {
    padding-left: 1em;
    padding-right: 1em;
}

.main-header {
    background: #b5ffea;
    padding: 1.5em 0;
    margin: 0 0 30px;

}

.main-footer {
    text-align: center;
    padding: 2em 0;
    background: #afccbd;
}

/* --------------------- Media Queries */

@media (min-width: 769px) {

    .container {
        width: 80%;
        max-width: 1150px;
        margin: 0 auto;
    }

    .name,
    .main-nav,
    .main-nav li {
        display: inline;
    }

    .name {
        width: 240px;
        margin-right: 50px;
    }
}