* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
    padding: 40px 0 60px;
}

h1 {
    margin: 0 0 30px 0;
    text-align: center;
}

/* Main ------------------------- */

#container {
    width: 92%;
    margin: auto;
}

.btn {
    font-size: 0.875em;
    font-weight: 400;
    cursor: pointer;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    margin: .5em 0 1em;
    text-transform: uppercase;
}

.btn:hover {
    opacity: .75;
}

.default {
    background-color: #52bab3;
}

.error {
    background-color: #ff784f;
}

/* Form ---------------------------- */

.form-contact {
    padding: 20px 24px;
    background: #f4f7f8;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

label:last-of-type {
    margin-top: 1.1em;
}

input,
textarea {
    outline: 0;
    border: none;
    padding: 15px;
    border-radius: .3em;
    border-bottom: 3px solid rgba(0,0,0,0.05);
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea {
    font-size: 1em;
    color: #222;
    font-weight: 300;
    width: 100%;
    height: auto;
    margin-bottom: 1.2em;
    box-shadow: 0 1px 0 rgba(0,0,0,0.08) inset;
}

form > a {
    font-size: .85em;
}

input[type='checkbox'] + label {
    font-weight: 300;
    font-size: .85em;
    display: inline;
    padding-left: 5px;
}

/* Media Queries ----------------------- */

@media (min-width: 769px) {
    #container {
        max-width: 550px;
    }
}