/* Base Styles ------------------------ */

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    padding: 20px 30px 20px;
    line-height: 2.5em;
}

input {
    line-height: 1.8em;
    border: 2px solid;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border: 2px solid cornflowerblue;
    border-radius: 5px;
    box-shadow: 2px 0 10px rgba(50, 50, 50, .8);
}

input:hover {
    cursor: pointer;
}

button {
    line-height: 2em;
    border: 2px solid;
    border-radius: 5px;
    color: #f9f9f9;
    background-color: cornflowerblue;
    outline: none;
}

button:focus {
    border: 2px solid white;
    box-shadow: 2px 0 10px rgba(50, 50, 50, .8);
}

button:hover {
    cursor: pointer;
}

li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

li > button {
    margin-left: auto;
}

#sub-heading {
    padding-bottom: 10px;
    border-bottom: 2px dotted black;
}

#hide-list-b {
    margin-bottom: 30px;
}

.list {
    border-top: 2px dotted black;
}

.description {
    margin-bottom: 0;
}

