/* Base styles ------------------------- */

* {
    box-sizing: border-box;
}

body {
    font: 1em/1.5 'Oswald', sans-serif;
    text-align: center;
    color: #4e555b;
    margin: 0;
}

header {
    background-color: lightblue;
    padding-top: 120px;
    padding-bottom: 90px;
    margin-bottom: 50px;
}

header span {
    color: #fdfdfe;
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 2;
    padding-bottom: 10px;
    font-weight: lighter;
}

h1 {
    font-size: 90px;
    color: white;
    font-weight: normal;
    margin-top: 24px;
    line-height: 1;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 1.8);
}

h2 {
    font-size: 50px;
    font-weight: normal;
    line-height: 1.2;
    border-top: 2px solid lightblue;
    padding-top: 30px;
    margin-top: 0;
}

h3  {
    font-size: 40px;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 34px;
}

p {
    line-height: 1.6;
    padding: 0 24%;
}

img {
    max-width: 100%;
    margin-bottom: 20px;
    border-bottom: solid 4px lightblue;
}

/* Lists ------------------------- */

ul,
ol {
    margin: 30px 0;
    padding: 0;
    list-style-type: none;
}

ul, ol {
    margin-bottom: 40px;
    padding-top: initial;
    background-size: 30px;
}

li {
    margin-bottom: 10px;
}

/*ul li {*/
    /*list-style-type: none;*/
    /*align-items: center;*/
    /*display: inline-block;*/
    /*justify-content: space-around;*/
/*}*/

/* Links ------------------------- */

a:link {
    font-size: 20px;
    text-decoration: none;
    color: lightblue;
    border-bottom: solid 3px;
    padding: 0 9px 3px 9px;
    display: inline-block;
}

a:hover {
    color: lightslategray;
}

/* Main styles ------------------------- */

.main-header {
    background: #4e555b url('img/header.jpg') no-repeat center;
    background-size: cover;
}

.primary-content,
.secondary-content {
    text-align: center;
    max-width: 960px;
    margin: auto;
}

.callout {
    margin-bottom: 40px;
}
.resorts,
.tips {
    padding-bottom: 40px;
}

.main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: solid 10px lightblue;
}

/* Layout styles ------------------------- */


.wildlife {
    color: white;
    background: #4e555b url('img/wildlife.jpg') no-repeat center;
    background-size: cover;
    margin-bottom: 40px;
    border-bottom: solid 4px lightblue;
}

/* Floated columns ------------------------- */

.resorts,
.tips {
    width: 46.5%;
    box-sizing: border-box;
}

.tips img {
    float: left;
    border-top: solid 4px lightblue;
    border-bottom: solid 4px lightblue;
}

.resorts {
    float: right;
    border-top: solid 4px lightblue;

}

.resorts img {
    margin-bottom: -20px;
}

.par-resort {
    margin: 0;
}

/* Float clearfix ------------------------- */

.group:after {
    content: "";
    display: table;
    clear: both;
}