body {
    font: 1em/1.5 'Oswald', sans-serif;
    text-align: center;
    color: #4e555b;
    margin: 0;
}

header {
    background-color: lightblue;
    padding-top: 120px;
    padding-bottom: 90px;
    margin-bottom: 50px;
}

header span {
    color: #fdfdfe;
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 2;
    padding-bottom: 10px;
    font-weight: lighter;
}

h1 {
    font-size: 90px;
    color: white;
    font-weight: normal;
    margin-top: 24px;
    line-height: 1;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 1.8);
}

h2 {
    font-size: 50px;
    font-weight: normal;
    line-height: 1.2;
    border-top: 2px solid lightblue;
    padding-top: 30px;
    margin-top: 0;
}

h3  {
    font-size: 40px;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 34px;
}

p {
    line-height: 1.6;
    padding: 0 24%;
}

/* Links */

a:link {
    font-size: 20px;
    text-decoration: none;
    color: lightblue;
    border-bottom: solid 3px;
    padding: 0 9px 3px 9px;
    display: inline-block;
}

a:hover {
    color: lightslategray;
}

/* Lists */

ul li {
    list-style-type: none;
    align-items: center;
    display: inline-block;
    justify-content: space-around;
}

.primary-content {
    text-align: center;
    border-bottom: 4px solid lightblue;
}

.callout {
    margin-bottom: 40px;
}
.secondary-intro,
.aside-content {
    padding-bottom: 40px;
    border-bottom: 4px solid lightblue;
}

.main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: solid 10px lightblue;
}

.wildlife {
    background-color: dimgray;
    color: lightblue;
}

