/* ------------- Page Styles */

* {
    box-sizing: border-box;
}

body {
    font-size: 1.35em;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background: #e8e9e9;
    padding-left: 5%;
    padding-right: 5%;
}

.container {
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    margin: 45px auto;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);
}

.item {
    color: #fff;
    padding: 15px;
    margin: 5px;
    background: #3db5da;
    border-radius: 3px;
}